<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../www/vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="BenJohnsonDev_SocialLogin_Unit">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>Test</directory>
            <directory>Setup</directory>
        </exclude>
    </coverage>
</phpunit>
